@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

:root{
    --color-primary: #1A1A1A;
    --color-secondary: #FFF;
    --color-accent:#FF4757 ;
    --background-color: #F5F5F5;

    --btn-color-primary: #FF4757;
    --btn-color-primary: #1A1A1A;
    --btn-color-primary: #6C757D;
    --color-disabled: #E9ECEF;
}

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: GmarketSansMedium;
    color: var(--color-primary);
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 40px;
    transition: all 0.5s ease;
}